/* SHARED STYLES */

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto Condensed', sans-serif;
}
body {
    width: 100%;
    margin: 0; padding: 0;
}

/* HEADER STYLES */

header {
    width: 100%;
    margin: 0; padding: 0;
    background: #191919;
}
.header {
    max-width: 1200px;
    padding: 10px 0; margin: auto;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.header__time__text {
    font-size: 16px;
    line-height: 15px;
    letter-spacing: 1px;
}
.header__phone {
    display: flex;
    font-size: 13px;
    letter-spacing: 1px;
    align-items: center;
}
.header__phone__num {
    margin-right: 18px;
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 18px;
}
.header__phone__numTwo {
    margin: 0;
}
.header__button {
    width: 170px;
    height: 50px;
    background-color: #1669b3;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

/* MAIN STYLES */


.main {
    width: 100%;
    background: url(..//image/main_page.png);
}
.main__content {
    max-width: 1200px;
    margin: auto;
}
.main__page {
    background: #f7b516;
    height: 780px;
    width: 40%;
    padding: 80px 100px 80px 80px;
}
.main__title {
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 41px;
}
.main__underTitle {
    margin: 44px 0;
}
.main__profit{
    display: flex;
    align-items: center;
    margin: 30px 0;
}
.main__profitText {
    margin-left: 20px;
    font-size: 19px;
    font-weight: 100;
}

/* PRICE PAGE STYLES */


.main__price {
    margin: 0; padding: 0;
    background: url(..//image/page_two.png);
    width: 100%;
    height: 500px;
}
.price__page {
    margin: auto;
    max-width: 1200px;
    text-align: right;
}
.price__title {
    font-size: 40px;
    font-weight: bold;
    line-height: 13px;
    margin: 200px 0 80px 0;
    letter-spacing: 1px;
}
.price__data {
    display: flex;
    justify-content: flex-end;
    margin-top: 130px;
}
.price__data__mail, .price__data__tel {
    background-color: #f2f2f2;
    padding: 30px 90px 30px 15px;
    font-size: 19px;
    text-transform: uppercase;
    color: #818181;
    text-align: left;
    border: none;
    border-radius: 10px;
    cursor: text;
}
.price__data__mail {
    margin-right: 30px;
}
.price__finish {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 50px 0;
}
.price__finish__text {
    margin: 16px 8px 0 8px;
    font-size: 16px;
    line-height: 13px;
}
.price__image {
    margin: 0 30px;
}
.price__button {
    background-color: #1866af;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 30px 81px;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}